<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Homepage</a>
            <a href="rate">Rate WCAG</a>
            <a href="faq">FAQ</a>
        </nav>
    </header>
<main class="explenation">
    <h1>Vurderte nettsider</h1>
    <% if (reviews && reviews.length > 0) { %>
        <% reviews.forEach(review => { %>

            <div class="review-card">
                <h3>
                    <a href="<%= review.url %>" target="_blank">
                        <%= review.sitename %>
                    </a>
                </h3>

                <p>WCAG-score: <%= review.rating %>/5</p>
                <p><%= review.comment %></p>
                <small>Laget av: <%= review.username %></small>
            </div>

        <% }) %>
    <% } else { %>
        <p>Ingen vurderinger enda.</p>
    <% } %>
</main>
</body>
</html>