<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
<main class="explanation">
    <h1>Vurderte nettsider</h1>
    <!-- reviews -->
    <% if (reviews && reviews.length > 0) { %>
        <% reviews.forEach(review => { %>

            <div class="review-card">
                <h3>
                    <a href="<%= review.url %>" target="_blank">
                        <%= review.sitename %>
                    </a>
                </h3>

                <p>WCAG-score: <%= review.rating %>/5</p>
                <p><%= review.comment %></p>
                <small>Laget av: <%= review.username %></small>

                <form action="/delete/<%= review._id %>" method="POST" onsubmit="return confirm ('Er du sikker du vill slette denne reviewen?')">
                    <button class="buttonDelete" type="submit">Slett review</button>
                </form>
            </div>

        <% }) %>
    <% } else { %>
        <p>Ingen vurderinger enda.</p>
    <% } %>
</main>
</body>
</html>