<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoved side</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
<div class="explanation">
    <h1>Vurderte nettsider</h1>
    <h2>Her ser du alle nettsidene som har blitt vurdert i databasen vår.</h2>
</div>
<main class="cardReviews">
    <!-- reviews -->
    <% if (reviews && reviews.length > 0) { %>
        <% reviews.forEach(review => { %>

            <div class="review-card">
                <h3>
                    <a href="<%= review.url %>" target="_blank">
                        <%= review.sitename %>
                    </a>
                </h3>

                <p>WCAG-score: <%= review.rating %>/6</p>
                <p><%= review.comment %></p>
                <small>Laget av: <%= review.username %></small>

                <% if (user === review.username || user === "Admin") { %>

                <form action="/delete/<%= review._id %>" method="POST"
                    onsubmit="return confirm('Er du sikker du vil slette denne reviewen?')">

                    <button class="buttonDelete" type="submit">
                        Slett Vurdering
                    </button>

                </form>

                <% } %>
            </div>  

        <% }) %>
    <% } else { %>
        <p>Ingen vurderinger enda.</p>
    <% } %>
</main>
<section class="Whyus">
    <h2>Hvorfor oss?</h2>
    <p>Vi er ditt beste valg for vurdering av nettsider, siden det er ingen andre.</p>
</section>
</body>
</html>